<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Livro_C_Sharp_Capitulo_7__exercicios_parte_2_.Properties.Settings.EmpresaConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Empresa;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>